.cerrarSesion{
  position:absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
}

.container-mensajes {
  position: static;
    border: 3px solid #0275d8;
    padding: 10px;
    background-color: white;
}

.link-button {
  background: none!important;
  color: white;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 15px;
}

.dropdown {
  position:relative;
  z-Index: 100
}